# =========================
# Miscellaneous
# =========================
*.class
*.log
*.pyc
*.pyo
*.pyd
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# =========================
# Python Backend
# =========================
backend/venv/
venv/
**/__pycache__/
*.pyc

# environment variables
.env
.env.*

# =========================
# IntelliJ / Android Studio
# =========================
*.iml
*.ipr
*.iws
.idea/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Flutter / Dart / Pub
# =========================
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# =========================
# Symbolication
# =========================
app.*.symbols

# =========================
# Obfuscation
# =========================
app.*.map.json

# =========================
# Android build artifacts
# =========================
/android/app/debug
/android/app/profile
/android/app/release